@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=Varela+Round&display=swap');
*{
margin:0;
padding:0;
}
body{
    background-color: rgb(232, 230, 229);
}
nav{
    font-family: 'Ubuntu' ,'Varela Round';
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 70px;
    background-color: rgb(0, 0, 0);
    color: white;

}
nav ul li{
    padding:0px 12px;
}
.brand img{
width: 50px;
padding:0px 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
min-height: 73vh;
background-color: black;
color: white;
font-family: 'Ubuntu' ,'Varela Round';
display: flex;
margin: 23px auto;
width: 80%;
border-radius: 12px;
background-image: url('./img/Background_2.jpg');

background-size: cover;
}
.songList h1{
    margin: 0px 112px;
    padding: 14px 0px;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: rgb(232, 230, 229);
    width: 90%;
    color: black;
    margin:12px 18px;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItem img{
    width: 43px;
    height: 30px;
    margin:0px 23px;
    /* padding: 10px 12px; */
    border-radius: 34px;
}
.time{
    margin:0 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time img{
    cursor: pointer;
}
.songContainer{
    margin-top: 54px;
}
.bottom{
    position: sticky;
    bottom:0;
    color: rgb(250, 250, 250);
    height: 100px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.songInfo{
    position:absolute;
    left: 10vw;
}
#myProgressBar{
    width:79vw;
    cursor: pointer;
}
.icons{
    margin-top: 14px;
    /* filter: invert(100%);  */
}
 .icons i{
    height: 50px;
    cursor: pointer;
} 
.songInfo img{
opacity: 0;
transition: opacity 0.4s ease-in;
}
.songItemPlay{
    cursor: pointer;
}